body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trans {
    transition: .5s;
}

#canvas1 {
    position: absolute;
}